# macOS 
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# VSCode
.vscode/
*.code-workspace

# MZinga local clone
#mzinga/

# Python
.venv/
__pycache__/
*.pyc

# env files
lab2/lab2-worker-rest/polling/.env
lab3/lab3-worker-observable/.env
